.hero-section {
  display: flex;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}
.hero-right {
  flex: 2;
}

h1 {
  font-size: 500%;
  color: black;
}
