@media (min-width: 1025px) {
  .hero-section {
    display: flex;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    flex-wrap: wrap;
  }
  .hero-right {
    flex: 2;
  }

  h1 {
    font-size: 500%;
    color: black;
  }
  #motion {
    min-width: 100%;
  }
}

@media (min-width: 600px) {
  .hero-left {
    display: flex;
    justify-content: center;
  }
  .hero-right {
    display: flex;
    justify-content: center;
  }
  #spline {
    max-height: 1000px;
  }
  #motion {
    min-width: 100%;
  }
}
